
<%= simple_form_for(@victim) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.hidden_field :incident_id %>
  <div class="row">
    <div class="col-6">
      <%= f.input :name %>
    </div>
    <div class="col-6">
      <%= f.input :contact %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= f.input :remark %>
    </div>
    <div class="col-6">
      <%= f.input :role %>
    </div>
  </div>
    <%= f.input :employee %>
    <%= f.input :address %>
    <%= f.input :email %>
    <%= f.input :supervisor %>

  <div class="form-actions">
    <button class="btn btn-primary">Save</button>
  </div>
<% end %>
