
<%= simple_form_for(@incidentsubcategory) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-10">
      <%= f.hidden_field :incidentcategory_id %>
      <%= f.input :name %>
    </div>

    <div class="col-2">
      <div style="height:30px"></div>
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
<% end %>
