<%= content_for :heading do %>
  Investigations
<% end %>

<div class="card" style="margin: 0px">
  <div class="card-body">
      <%= form_tag investigations_path, method: :get do %>
        <div class="row">
          <div class="col-5">
            <%= select_tag "status", options_for_select(['Pending','In Progress','Completed','Canceled']), :prompt=>"Status", id: "status", :class=>"form-control" %>
          </div>
          <div class="col-5">
            <%= select_tag "user_id", options_from_collection_for_select(User.all.order("name"), :id, :name), :prompt=>"Investigator", id: "user_id", :class=>"form-control" %>
          </div>
          <div class="col-2">
            <button class="btn btn-primary">Search</button>
          </div>
        </div>
      <% end %>
  </div>
</div><br/>

<table class="table">
  <thead>
    <tr>
      <th>ID #</th>
      <th>Investigator</th>
      <th>Report number</th>
      <th>Date</th>
      <th>Department</th>
      <th>Status</th>
      <th>Reportable to legal</th>
    </tr>
  </thead>

  <tbody>
    <% @investigations.each do |investigation| %>
      <tr>
        <td><%= link_to investigation.incident_id, investigation %></td>
        <td>
          <% if investigation.user %>
            <%= investigation.user.name %>
          <% end %>
        </td>
        <td><%= investigation.report_number %></td>
        <td><%= investigation.date %></td>
        <td>
          <% if investigation.department %>
            <%= investigation.department.name %>
          <% end %>
        </td>
        <td><%= investigation.status %></td>
        <td><%= investigation.reportable_to_legal %></td>
      </tr>
    <% end %>
  </tbody>
</table>
