<p id="notice"><%= notice %></p>

<p>
  <strong>Incident:</strong>
  <%= @witness.incident_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @witness.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @witness.contact %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @witness.remark %>
</p>

<%= link_to 'Edit', edit_witness_path(@witness) %> |
<%= link_to 'Back', witnesses_path %>
