<p id="notice"><%= notice %></p>

<h1>Investigationinjurytypes</h1>

<table>
  <thead>
    <tr>
      <th>Investigation</th>
      <th>Injurytype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investigationinjurytypes.each do |investigationinjurytype| %>
      <tr>
        <td><%= investigationinjurytype.investigation_id %></td>
        <td><%= investigationinjurytype.injurytype_id %></td>
        <td><%= link_to 'Show', investigationinjurytype %></td>
        <td><%= link_to 'Edit', edit_investigationinjurytype_path(investigationinjurytype) %></td>
        <td><%= link_to 'Destroy', investigationinjurytype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investigationinjurytype', new_investigationinjurytype_path %>
