<% content_for :heading do %>
  Incidents
<% end %>

<script>
	$(document).ready(function() {
		$("#sdate").datepicker({
			dateFormat : 'yy-mm-dd'
		});
		$("#edate").datepicker({
			dateFormat : 'yy-mm-dd'
		});
	}); 
</script>

<% content_for :innerlinks do %>
  <%= link_to "Report Incident", new_incident_path %>
<% end %><br/>
<div class="card" style="margin: 0px">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Category</th>
          <th>Incident Date</th>
          <th>Location</th>
          <th>Reported By</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @incidents.each do |incident| %>
          <tr>
            <td><%= link_to incident.id, incident %></td>
            <td> 
              <% if incident.incidentcategory %>
              <%= incident.incidentcategory.name %>
              <% end %>
            </td>
            <td><%= incident.date_time %></td>
            <td><%= incident.address %></td>
            <td><%= incident.user.name %></td>
            <td><%= incident.status %></td>
            <td></td>
          </tr>
        <% end %>       
      </tbody>
    </table>
  </div>
</div>