<p id="notice"><%= notice %></p>

<h1>Investigationclassifications</h1>

<table>
  <thead>
    <tr>
      <th>Investigation</th>
      <th>Subclassification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investigationclassifications.each do |investigationclassification| %>
      <tr>
        <td><%= investigationclassification.investigation_id %></td>
        <td><%= investigationclassification.subclassification_id %></td>
        <td><%= link_to 'Show', investigationclassification %></td>
        <td><%= link_to 'Edit', edit_investigationclassification_path(investigationclassification) %></td>
        <td><%= link_to 'Destroy', investigationclassification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investigationclassification', new_investigationclassification_path %>
