<p id="notice"><%= notice %></p>

<h1>Incidentstatuses</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Incident</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidentstatuses.each do |incidentstatus| %>
      <tr>
        <td><%= incidentstatus.status %></td>
        <td><%= incidentstatus.incident_id %></td>
        <td><%= link_to 'Show', incidentstatus %></td>
        <td><%= link_to 'Edit', edit_incidentstatus_path(incidentstatus) %></td>
        <td><%= link_to 'Destroy', incidentstatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incidentstatus', new_incidentstatus_path %>
