<div class="login">
  <div class="welcome-icon">
    <%= image_tag("welcome-icon.png") %>
  </div>
  <div class="welcome-message">WELCOME</div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="logo">   
      </div>
            <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
            <%= content_tag(:div, flash[:alert], :class => "alert alert-danger") if flash[:alert] %> 
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
      </div>
      <br/>
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
      </div>
      <br/>
      <div>
        <button class="btn btn-login">Login</button>
      </div><br/>
      <div class="row">
        <div class="col-6">
            <%= render "devise/shared/links" %>
        </div>
        <div class="col-6">
            <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end %>
    <div class="footer">
    </div>
</div>
