
<%= simple_form_for(@action_required) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :datetime %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :address %>
    <%= f.input :category %>
    <%= f.input :ref_number %>
    <%= f.input :remarks %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
