<p id="notice"><%= notice %></p>

<h1>Workflowtemplates</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Responsible party</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workflowtemplates.each do |workflowtemplate| %>
      <tr>
        <td><%= workflowtemplate.title %></td>
        <td><%= workflowtemplate.description %></td>
        <td><%= workflowtemplate.responsible_party %></td>
        <td><%= link_to 'Show', workflowtemplate %></td>
        <td><%= link_to 'Edit', edit_workflowtemplate_path(workflowtemplate) %></td>
        <td><%= link_to 'Destroy', workflowtemplate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workflowtemplate', new_workflowtemplate_path %>
