
<%= simple_form_for(@injurylocation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row">
    <div class="col-5">
      <%= f.input :name, placeholder: "Name", label: false %>
    </div>
    <div class="col-5">
      <%= f.input :description, placeholder: "Description", label: false %>
    </div>

    <div class="col-2">
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
<% end %>
